---
import { execSync } from "node:child_process";

import "@styles/fonts.css";
import "@styles/global.css";

let openGraphImage = "";
try {
  ({ default: openGraphImage } = await import(
    "../../assets/open-graph.jpeg?url"
  ));
} catch (err) {
  if (import.meta.env.PROD) {
    // if the open-graph image is not available in PROD, throw an error
    // (see integrations/memewall-og-image.ts)
    throw err;
  }
}

export interface Props {
  title: string;
  description: string;
}

const base = import.meta.env.BASE_URL;
const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head prefix="dcterms: http://purl.org/dc/terms/#">
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href={`${base}apple-touch-icon.png`}
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href={`${base}favicon-32x32.png`}
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href={`${base}favicon-16x16.png`}
  />
  <link rel="icon" type="image/x-icon" href={`${base}favicon.ico`} />

  <!-- HTML Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={openGraphImage} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={openGraphImage} />

  <meta name="version" content={commit} />
  <meta name="dcterms.modified" content={datetime} />
</head>
